In [1]:
import os
import zipfile
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# load url content into soup
url = 'https://s3.amazonaws.com/tripdata/'

r = requests.get(url)
soup = BeautifulSoup(r.text, 'xml')

In [ ]:
# extract file names from soup
files = soup.find_all('Key')
clean_files = []
for i in range(len(files)-1):
    clean_files.append(files[i].get_text())

In [ ]:
# download & unzip data files
for file in clean_files:
    file_url = url + file
    with open(file, "wb") as f:
            response = requests.get(file_url)
            f.write(response.content)
    # unzip data files
    with zipfile.ZipFile(file, "r") as zip_ref:
        zip_ref.extractall("tripdata")        
    # remove zipped file after unziping
    os.remove(file)
os.rmdir('tripdata/__MACOSX')

In [ ]:
# rename files 
directory = 'tripdata/'
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith('.csv'):
        new_filename = filename.replace(' ','').lower().split('ci', 1)[0].strip('-').replace('-','_')
        os.rename(os.path.join(directory, filename), os.path.join(directory, new_filename + '.csv'))

In [2]:
#load into dfs (use when files have alredy been downloaded & renamed)
directory = 'tripdata/'
dfs = {}

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith('.csv'):
        dfs[filename.split('.')[0]] = pd.read_csv(os.path.join(directory, filename))

In [3]:
#make column names consistent across all dfs
col_names = ['trip_duration', 'start_time', 'stop_time', 'start_station_id', 'start_station_name', 'start_station_lat',
             'start_station_long', 'end_station_id', 'end_station_name', 'end_station_lat', 'end_station_long',
             'bike_id', 'user_type', 'birth_year', 'gender']

for df in dfs.values():
    df.columns = col_names

In [4]:
# iterate over dfs changing dates to datetime
for df in dfs.values():
    df.start_time =  pd.to_datetime(df.start_time, format='%m/%d/%Y %H:%M:%S', errors='ignore')
    df.start_time =  pd.to_datetime(df.start_time, format='%m/%d/%Y %H:%M', errors='ignore')
    df.start_time =  pd.to_datetime(df.start_time, format='%Y-%m-%d %H:%M:%S', errors='ignore')
    df.stop_time =  pd.to_datetime(df.stop_time, format='%m/%d/%Y %H:%M:%S', errors='ignore')
    df.stop_time =  pd.to_datetime(df.stop_time, format='%m/%d/%Y %H:%M', errors='ignore')
    df.stop_time =  pd.to_datetime(df.stop_time, format='%Y-%m-%d %H:%M:%S', errors='ignore')

In [5]:
# concatenate all dfs into a single master one
master_df = pd.concat(dfs, ignore_index=True)

In [7]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79402697 entries, 0 to 79402696
Data columns (total 15 columns):
trip_duration         int64
start_time            datetime64[ns]
stop_time             datetime64[ns]
start_station_id      float64
start_station_name    object
start_station_lat     float64
start_station_long    float64
end_station_id        float64
end_station_name      object
end_station_lat       float64
end_station_long      float64
bike_id               int64
user_type             object
birth_year            object
gender                int64
dtypes: datetime64[ns](2), float64(6), int64(3), object(4)
memory usage: 8.9+ GB

In [9]:
master_df.sample(n=10)

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_lat,start_station_long,end_station_id,end_station_name,end_station_lat,end_station_long,bike_id,user_type,birth_year,gender
60518498,373,2018-06-15 21:10:26.882,2018-06-15 21:16:39.923,509.0,9 Ave & W 22 St,40.745497,-74.001971,435.0,W 21 St & 6 Ave,40.741740,-73.994156,20729,Subscriber,1988,1
78879170,305,2017-11-01 18:48:58.000,2017-11-01 18:54:04.000,3272.0,Jersey & 3rd,40.723332,-74.045953,3275.0,Columbus Drive,40.718355,-74.038914,31704,Subscriber,1991,2
25412263,698,2016-03-19 22:17:09.000,2016-03-19 22:28:47.000,526.0,E 33 St & 5 Ave,40.747659,-73.984907,2003.0,1 Ave & E 18 St,40.733812,-73.980544,23200,Subscriber,1989,2
71969069,789,2019-01-17 17:19:45.609,2019-01-17 17:32:55.171,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,490.0,8 Ave & W 33 St,40.751551,-73.993934,15424,Subscriber,1954,1
32451112,994,2016-09-05 15:50:19.000,2016-09-05 16:06:54.000,335.0,Washington Pl & Broadway,40.729039,-73.994046,473.0,Rivington St & Chrystie St,40.721101,-73.991925,26627,Subscriber,1958,1
61035961,158,2018-06-08 19:05:06.204,2018-06-08 19:07:44.444,3285.0,W 87 St & Amsterdam Ave,40.788390,-73.974700,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,25292,Subscriber,1998,1
76533588,474,2019-05-03 07:57:09.604,2019-05-03 08:05:04.537,545.0,E 23 St & 1 Ave,40.736502,-73.978095,3641.0,Broadway & W 25 St,40.742869,-73.989186,19245,Subscriber,1990,1
18382114,343,2015-08-06 18:48:06.000,2015-08-06 18:53:49.000,317.0,E 6 St & Avenue B,40.724537,-73.981854,300.0,Shevchenko Pl & E 7 St,40.728145,-73.990214,16565,Subscriber,1949,1
29949445,514,2016-07-15 09:08:30.000,2016-07-15 09:17:04.000,3151.0,E 81 St & York Ave,40.772838,-73.949892,3143.0,5 Ave & E 78 St,40.776829,-73.963888,21415,Subscriber,1979,2
35964329,1142,2016-11-10 14:53:51.000,2016-11-10 15:12:53.000,476.0,E 31 St & 3 Ave,40.743943,-73.979661,340.0,Madison St & Clinton St,40.712690,-73.987763,23978,Subscriber,1987,1

In [8]:
# change data types to more appropriate / efficient ones
# downcast trip duration
master_df.trip_duration = pd.to_numeric(master_df.trip_duration, downcast = 'unsigned')

In [10]:
# make birth_year column a float
master_df.birth_year = pd.to_numeric(master_df.birth_year, errors='coerce', downcast='float')

In [11]:
# downcast floats
float_cols = ['start_station_lat', 'start_station_long', 'end_station_lat', 'end_station_long']
for col in float_cols:
    master_df[col] = pd.to_numeric(master_df[col], downcast='float')

In [12]:
# convert appropriate columns to categories
category_cols = ['start_station_id', 'start_station_name', 'end_station_id', 'end_station_name', 'bike_id', 'user_type',
             'gender']
for col in category_cols:
    master_df[col] = master_df[col].astype('category')

In [13]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79402697 entries, 0 to 79402696
Data columns (total 15 columns):
trip_duration         uint32
start_time            datetime64[ns]
stop_time             datetime64[ns]
start_station_id      category
start_station_name    category
start_station_lat     float32
start_station_long    float32
end_station_id        category
end_station_name      category
end_station_lat       float32
end_station_long      float32
bike_id               category
user_type             category
birth_year            float32
gender                category
dtypes: category(7), datetime64[ns](2), float32(5), uint32(1)
memory usage: 3.8 GB

In [40]:
# replace numeric representation of gender for actual gender
master_df.gender = master_df.gender.replace({0: np.nan, 1: 'male', 2: 'female'}).astype('category')

In [41]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79402697 entries, 0 to 79402696
Data columns (total 15 columns):
trip_duration         uint32
start_time            datetime64[ns]
stop_time             datetime64[ns]
start_station_id      category
start_station_name    category
start_station_lat     float32
start_station_long    float32
end_station_id        category
end_station_name      category
end_station_lat       float32
end_station_long      float32
bike_id               category
user_type             category
birth_year            float32
gender                category
dtypes: category(7), datetime64[ns](2), float32(5), uint32(1)
memory usage: 3.8 GB

In [42]:
master_df.isna().sum()

trip_duration               0
start_time                  0
stop_time                   0
start_station_id         2534
start_station_name       2534
start_station_lat           0
start_station_long          0
end_station_id          20593
end_station_name        20593
end_station_lat         18059
end_station_long        18059
bike_id                     0
user_type               52277
birth_year            6273717
gender                8349248
dtype: int64

In [52]:
# Bronx rides
master_df.loc[master_df.start_station_id.isna()]

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_lat,start_station_long,end_station_id,end_station_name,end_station_lat,end_station_long,bike_id,user_type,birth_year,gender
64257903,2544,2018-08-15 11:31:37.867,2018-08-15 12:14:02.129,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34426,Subscriber,1971.0,female
64258082,2004,2018-08-15 11:35:26.014,2018-08-15 12:08:50.036,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.887001,34428,Subscriber,1976.0,female
64259819,213,2018-08-15 12:10:37.436,2018-08-15 12:14:11.292,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34428,Subscriber,1976.0,female
64260053,602,2018-08-15 12:15:17.333,2018-08-15 12:25:19.762,NaN,NaN,40.845001,-73.902000,NaN,NaN,40.856998,-73.889999,34525,Subscriber,1988.0,male
64261416,511502,2018-08-15 12:41:41.969,2018-08-21 10:46:44.644,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34548,Subscriber,1986.0,male
64262099,3471,2018-08-15 12:53:40.817,2018-08-15 13:51:32.009,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.845001,-73.896004,34501,Subscriber,1993.0,male
64262155,3108,2018-08-15 12:54:48.029,2018-08-15 13:46:36.756,NaN,NaN,40.854000,-73.889999,NaN,NaN,40.845001,-73.892998,34518,Subscriber,1989.0,female
64265601,1738,2018-08-15 13:58:46.212,2018-08-15 14:27:45.173,NaN,NaN,40.845001,-73.892998,NaN,NaN,40.839001,-73.877998,34518,Subscriber,1989.0,female
64265661,644,2018-08-15 13:59:50.331,2018-08-15 14:10:34.866,NaN,NaN,40.845001,-73.892998,NaN,NaN,40.841999,-73.884003,34501,Subscriber,1993.0,male
64266796,443,2018-08-15 14:20:31.586,2018-08-15 14:27:54.944,NaN,NaN,40.841999,-73.884003,NaN,NaN,40.839001,-73.877998,34501,Subscriber,1993.0,male
64266981,71,2018-08-15 14:24:29.303,2018-08-15 14:25:40.999,NaN,NaN,40.854000,-73.889999,NaN,NaN,40.854000,-73.889999,34462,Subscriber,1986.0,male
64267270,135,2018-08-15 14:29:27.969,2018-08-15 14:31:43.302,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34466,Subscriber,1986.0,male
64267277,647,2018-08-15 14:29:39.903,2018-08-15 14:40:27.107,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34470,Subscriber,1979.0,female
64267432,211,2018-08-15 14:32:33.066,2018-08-15 14:36:04.108,NaN,NaN,40.854000,-73.889999,NaN,NaN,40.854000,-73.889999,34444,Subscriber,1986.0,male
64267615,432,2018-08-15 14:36:31.327,2018-08-15 14:43:43.847,NaN,NaN,40.854000,-73.889999,NaN,NaN,40.854000,-73.889999,34444,Subscriber,1986.0,male
64267617,3312,2018-08-15 14:36:32.913,2018-08-15 15:31:45.894,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.854000,-73.887001,34571,Subscriber,1976.0,female
64267773,914,2018-08-15 14:39:50.493,2018-08-15 14:55:05.219,NaN,NaN,40.860001,-73.889999,NaN,NaN,40.862999,-73.896004,34523,Subscriber,1985.0,male
64267846,140,2018-08-15 14:41:20.326,2018-08-15 14:43:40.962,NaN,NaN,40.854000,-73.889999,NaN,NaN,40.854000,-73.889999,34470,Subscriber,1979.0,female
64268217,276,2018-08-15 14:48:16.982,2018-08-15 14:52:53.483,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34568,Subscriber,1989.0,female
64268252,1777,2018-08-15 14:48:59.991,2018-08-15 15:18:37.400,NaN,NaN,40.839001,-73.877998,NaN,NaN,40.856998,-73.889999,34518,Subscriber,1989.0,female
64268264,1767,2018-08-15 14:49:14.288,2018-08-15 15:18:41.425,NaN,NaN,40.839001,-73.877998,NaN,NaN,40.856998,-73.889999,34501,Subscriber,1993.0,male
64268366,310,2018-08-15 14:51:25.208,2018-08-15 14:56:36.149,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34567,Subscriber,1997.0,male
64268411,78,2018-08-15 14:52:09.076,2018-08-15 14:53:27.435,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34573,Customer,1983.0,male
64268502,1378,2018-08-15 14:53:50.438,2018-08-15 15:16:48.535,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34573,Customer,1983.0,male
64268570,1239,2018-08-15 14:55:08.383,2018-08-15 15:15:47.418,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34568,Subscriber,1989.0,female
64268663,886,2018-08-15 14:56:50.909,2018-08-15 15:11:37.512,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34567,Subscriber,1997.0,male
64268679,122,2018-08-15 14:57:01.403,2018-08-15 14:59:03.507,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34570,Subscriber,1994.0,male
64268837,768,2018-08-15 15:00:10.302,2018-08-15 15:12:58.488,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34570,Subscriber,1994.0,male
64268976,1076,2018-08-15 15:02:49.340,2018-08-15 15:20:45.514,NaN,NaN,40.862999,-73.896004,NaN,NaN,40.860001,-73.892998,34523,Subscriber,1985.0,male
64269640,2926,2018-08-15 15:14:53.263,2018-08-15 16:03:39.725,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.845001,-73.899002,34520,Subscriber,1997.0,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71900079,807,2019-01-15 20:49:27.612,2019-01-15 21:02:55.511,NaN,NaN,40.854000,-73.892998,NaN,NaN,40.851002,-73.904999,34576,Subscriber,1989.0,female
71972525,2631,2019-01-17 18:10:35.913,2019-01-17 18:54:27.315,NaN,NaN,40.851002,-73.904999,NaN,NaN,40.851002,-73.904999,34576,Subscriber,1971.0,male
72054208,2885,2019-01-21 00:17:02.710,2019-01-21 01:05:07.913,NaN,NaN,40.851002,-73.904999,NaN,NaN,40.848000,-73.907997,34576,Customer,1993.0,male
72058823,560,2019-01-21 13:53:24.114,2019-01-21 14:02:44.711,NaN,NaN,40.862999,-73.884003,NaN,NaN,40.862999,-73.889999,34550,Subscriber,1986.0,male
72058959,419,2019-01-21 14:05:00.455,2019-01-21 14:11:59.913,NaN,NaN,40.862999,-73.889999,NaN,NaN,40.862999,-73.889999,34550,Subscriber,1986.0,male
72059117,484,2019-01-21 14:17:44.111,2019-01-21 14:25:48.512,NaN,NaN,40.862999,-73.889999,NaN,NaN,40.862999,-73.892998,34550,Subscriber,1986.0,male
72060310,189,2019-01-21 15:52:59.816,2019-01-21 15:56:09.013,NaN,NaN,40.862999,-73.889999,NaN,NaN,40.862999,-73.889999,34550,Subscriber,1986.0,male
72218979,759,2019-01-26 22:37:57.027,2019-01-26 22:50:36.428,NaN,NaN,40.854000,-73.892998,NaN,NaN,40.851002,-73.902000,34892,Subscriber,1985.0,NaN
72219537,1659,2019-01-26 23:40:03.030,2019-01-27 00:07:42.226,NaN,NaN,40.851002,-73.899002,NaN,NaN,40.854000,-73.911003,34892,Subscriber,1985.0,NaN
72280774,621,2019-01-28 19:31:38.591,2019-01-28 19:41:59.687,NaN,NaN,40.854000,-73.892998,NaN,NaN,40.841999,-73.880997,34481,Subscriber,1975.0,male
72341321,629,2019-01-30 23:40:05.091,2019-01-30 23:50:34.689,NaN,NaN,40.845001,-73.911003,NaN,NaN,40.845001,-73.892998,34576,Customer,1993.0,male
72400012,1949,2019-02-02 16:44:18.768,2019-02-02 17:16:48.689,NaN,NaN,40.841999,-73.880997,NaN,NaN,40.856998,-73.889999,34481,Subscriber,1987.0,male
72401141,220,2019-02-02 17:22:12.290,2019-02-02 17:25:53.089,NaN,NaN,40.856998,-73.889999,NaN,NaN,40.856998,-73.889999,34481,Subscriber,1987.0,male
72401520,413,2019-02-02 17:38:30.089,2019-02-02 17:45:23.991,NaN,NaN,40.862999,-73.889999,NaN,NaN,40.860001,-73.889999,34550,Subscriber,1987.0,male
72425449,5651,2019-02-03 15:35:24.989,2019-02-03 17:09:36.271,NaN,NaN,40.856998,-73.880997,NaN,NaN,40.856998,-73.880997,34550,Subscriber,1969.0,male
72436865,566,2019-02-03 21:50:12.087,2019-02-03 21:59:38.091,NaN,NaN,40.856998,-73.880997,NaN,NaN,40.862999,-73.889999,34550,Subscriber,1994.0,male
72479680,693,2019-02-04 19:49:06.367,2019-02-04 20:00:39.787,NaN,NaN,40.866001,-73.884003,NaN,NaN,40.866001,-73.884003,34550,Subscriber,1994.0,male
72482795,928,2019-02-04 21:10:57.265,2019-02-04 21:26:25.687,NaN,NaN,40.845001,-73.902000,NaN,NaN,40.866001,-73.887001,34550,Subscriber,1994.0,male
72539745,1837,2019-02-06 01:16:37.191,2019-02-06 01:47:15.090,NaN,NaN,40.860001,-73.884003,NaN,NaN,40.856998,-73.887001,34536,Customer,2000.0,male
72539788,142,2019-02-06 01:53:28.225,2019-02-06 01:55:50.994,NaN,NaN,40.860001,-73.884003,NaN,NaN,40.860001,-73.884003,34536,Customer,2000.0,male
73304121,1761,2019-03-01 02:06:55.132,2019-03-01 02:36:16.933,NaN,NaN,40.860001,-73.884003,NaN,NaN,40.856998,-73.880997,34536,Subscriber,1992.0,male
73304158,404,2019-03-01 02:42:26.530,2019-03-01 02:49:11.325,NaN,NaN,40.856998,-73.880997,NaN,NaN,40.856998,-73.889999,34536,Subscriber,1992.0,male
73304162,1278,2019-03-01 02:51:08.828,2019-03-01 03:12:27.128,NaN,NaN,40.856998,-73.887001,NaN,NaN,40.856998,-73.880997,34536,Subscriber,1992.0,male
73304186,1383,2019-03-01 03:14:11.532,2019-03-01 03:37:15.089,NaN,NaN,40.856998,-73.880997,NaN,NaN,40.862999,-73.904999,34536,Subscriber,1992.0,male
73304203,1944,2019-03-01 03:40:22.689,2019-03-01 04:12:46.930,NaN,NaN,40.862999,-73.904999,NaN,NaN,40.862999,-73.902000,34536,Subscriber,1992.0,male
73334867,3417,2019-03-02 08:49:25.932,2019-03-02 09:46:23.731,NaN,NaN,40.862999,-73.902000,NaN,NaN,40.862999,-73.904999,34536,Customer,2000.0,male
74425869,1895,2019-03-28 08:59:43.435,2019-03-28 09:31:18.729,NaN,NaN,40.851002,-73.892998,NaN,NaN,40.848000,-73.896004,34628,Customer,1976.0,male
74429755,220,2019-03-28 09:52:31.730,2019-03-28 09:56:11.830,NaN,NaN,40.848000,-73.896004,NaN,NaN,40.848000,-73.892998,34628,Customer,1976.0,male
74512346,501,2019-03-29 17:23:34.468,2019-03-29 17:31:56.135,NaN,NaN,40.854000,-73.892998,NaN,NaN,40.851002,-73.899002,34892,Subscriber,1988.0,male
74520782,851,2019-03-29 18:45:57.332,2019-03-29 19:00:08.496,NaN,NaN,40.845001,-73.892998,NaN,NaN,40.856998,-73.892998,34628,Customer,1990.0,male

In [58]:
master_df.loc[(master_df.end_station_id.isna()) & (master_df.start_station_id.notna())]

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_lat,start_station_long,end_station_id,end_station_name,end_station_lat,end_station_long,bike_id,user_type,birth_year,gender
56,547,2013-06-01 00:11:04,2013-06-01 00:20:11,432.0,E 7 St & Avenue A,40.726219,-73.983795,NaN,NaN,NaN,NaN,17470,Subscriber,1980.0,male
102,537,2013-06-01 00:40:27,2013-06-01 00:49:24,482.0,W 15 St & 7 Ave,40.739357,-73.999321,NaN,NaN,NaN,NaN,15090,Subscriber,1981.0,male
120,472,2013-06-01 00:47:51,2013-06-01 00:55:43,528.0,2 Ave & E 31 St,40.742908,-73.977058,NaN,NaN,NaN,NaN,16257,Subscriber,1965.0,male
211,153,2013-06-01 01:32:55,2013-06-01 01:35:28,284.0,Greenwich Ave & 8 Ave,40.739017,-74.002640,NaN,NaN,NaN,NaN,20106,Subscriber,1987.0,male
289,841,2013-06-01 02:28:10,2013-06-01 02:42:11,509.0,9 Ave & W 22 St,40.745499,-74.001968,NaN,NaN,NaN,NaN,18792,Customer,NaN,NaN
302,904,2013-06-01 02:40:31,2013-06-01 02:55:35,505.0,6 Ave & W 33 St,40.749012,-73.988487,NaN,NaN,NaN,NaN,15752,Customer,NaN,NaN
315,744,2013-06-01 02:54:35,2013-06-01 03:06:59,350.0,Clinton St & Grand St,40.715595,-73.987030,NaN,NaN,NaN,NaN,17106,Customer,NaN,NaN
334,914,2013-06-01 03:22:48,2013-06-01 03:38:02,233.0,Cadman Plaza W & Pierrepont St,40.694756,-73.990524,NaN,NaN,NaN,NaN,16461,Subscriber,1988.0,male
354,697,2013-06-01 03:52:23,2013-06-01 04:04:00,528.0,2 Ave & E 31 St,40.742908,-73.977058,NaN,NaN,NaN,NaN,17283,Customer,NaN,NaN
373,620,2013-06-01 04:50:53,2013-06-01 05:01:13,435.0,W 21 St & 6 Ave,40.741741,-73.994156,NaN,NaN,NaN,NaN,18327,Subscriber,1949.0,male
449,13945,2013-06-01 07:21:49,2013-06-01 11:14:14,472.0,E 32 St & Park Ave,40.745712,-73.981949,NaN,NaN,NaN,NaN,19912,Customer,NaN,NaN
495,879,2013-06-01 07:50:57,2013-06-01 08:05:36,143.0,Clinton St & Joralemon St,40.692394,-73.993378,NaN,NaN,NaN,NaN,18188,Subscriber,1960.0,male
498,860,2013-06-01 07:51:49,2013-06-01 08:06:09,448.0,W 37 St & 10 Ave,40.756603,-73.997902,NaN,NaN,NaN,NaN,17548,Subscriber,1984.0,female
511,1384,2013-06-01 07:55:40,2013-06-01 08:18:44,152.0,Warren St & Church St,40.714741,-74.009109,NaN,NaN,NaN,NaN,19315,Subscriber,1984.0,male
520,34966,2013-06-01 07:59:35,2013-06-01 17:42:21,465.0,Broadway & W 41 St,40.755135,-73.986580,NaN,NaN,NaN,NaN,15555,Subscriber,1982.0,female
523,311,2013-06-01 08:00:35,2013-06-01 08:05:46,358.0,Christopher St & Greenwich St,40.732914,-74.007111,NaN,NaN,NaN,NaN,18257,Subscriber,1982.0,male
537,14710,2013-06-01 08:08:05,2013-06-01 12:13:15,358.0,Christopher St & Greenwich St,40.732914,-74.007111,NaN,NaN,NaN,NaN,16781,Subscriber,1962.0,female
614,268,2013-06-01 08:33:05,2013-06-01 08:37:33,128.0,MacDougal St & Prince St,40.727104,-74.002968,NaN,NaN,NaN,NaN,15760,Subscriber,1984.0,female
628,396,2013-06-01 08:38:57,2013-06-01 08:45:33,147.0,Greenwich St & Warren St,40.715424,-74.011223,NaN,NaN,NaN,NaN,15353,Subscriber,1985.0,male
656,852,2013-06-01 08:48:24,2013-06-01 09:02:36,502.0,Henry St & Grand St,40.714214,-73.981346,NaN,NaN,NaN,NaN,15721,Subscriber,1992.0,male
724,16819,2013-06-01 09:05:45,2013-06-01 13:46:04,483.0,E 12 St & 3 Ave,40.732231,-73.988899,NaN,NaN,NaN,NaN,15696,Subscriber,1972.0,male
770,248,2013-06-01 09:18:26,2013-06-01 09:22:34,116.0,W 17 St & 8 Ave,40.741776,-74.001495,NaN,NaN,NaN,NaN,16655,Customer,NaN,NaN
805,1676,2013-06-01 09:26:44,2013-06-01 09:54:40,376.0,John St & William St,40.708622,-74.007225,NaN,NaN,NaN,NaN,19980,Customer,NaN,NaN
830,262,2013-06-01 09:27:39,2013-06-01 09:32:01,509.0,9 Ave & W 22 St,40.745499,-74.001968,NaN,NaN,NaN,NaN,20181,Subscriber,1970.0,male
835,1226,2013-06-01 09:32:53,2013-06-01 09:53:19,432.0,E 7 St & Avenue A,40.726219,-73.983795,NaN,NaN,NaN,NaN,16371,Customer,NaN,NaN
907,760,2013-06-01 09:47:16,2013-06-01 09:59:56,384.0,Fulton St & Washington Ave,40.683048,-73.964912,NaN,NaN,NaN,NaN,15999,Subscriber,1990.0,male
948,6920,2013-06-01 09:53:56,2013-06-01 11:49:16,225.0,W 14 St & The High Line,40.741951,-74.008034,NaN,NaN,NaN,NaN,19520,Customer,NaN,NaN
975,2382,2013-06-01 09:59:32,2013-06-01 10:39:14,510.0,W 51 St & 6 Ave,40.760658,-73.980423,NaN,NaN,NaN,NaN,18387,Subscriber,1952.0,male
982,1498,2013-06-01 10:00:05,2013-06-01 10:25:03,348.0,W Broadway & Spring St,40.724911,-74.001549,NaN,NaN,NaN,NaN,16949,Subscriber,1977.0,male
989,412,2013-06-01 10:01:28,2013-06-01 10:08:20,212.0,W 16 St & The High Line,40.743351,-74.006821,NaN,NaN,NaN,NaN,18099,Subscriber,1968.0,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576929,983,2013-06-30 22:29:45,2013-06-30 22:46:08,463.0,9 Ave & W 16 St,40.742065,-74.004433,NaN,NaN,NaN,NaN,18359,Subscriber,1987.0,female
576932,995,2013-06-30 22:30:24,2013-06-30 22:46:59,382.0,University Pl & E 14 St,40.734928,-73.992004,NaN,NaN,NaN,NaN,17634,Customer,NaN,NaN
576945,1538,2013-06-30 22:31:05,2013-06-30 22:56:43,225.0,W 14 St & The High Line,40.741951,-74.008034,NaN,NaN,NaN,NaN,19556,Subscriber,1966.0,male
576981,470,2013-06-30 22:35:43,2013-06-30 22:43:33,379.0,W 31 St & 7 Ave,40.749157,-73.991600,NaN,NaN,NaN,NaN,16216,Subscriber,1986.0,male
576989,879,2013-06-30 22:36:44,2013-06-30 22:51:23,394.0,E 9 St & Avenue C,40.725212,-73.977684,NaN,NaN,NaN,NaN,17672,Subscriber,1969.0,male
577014,898,2013-06-30 22:37:58,2013-06-30 22:52:56,329.0,Greenwich St & North Moore St,40.720154,-74.010368,NaN,NaN,NaN,NaN,17709,Subscriber,1972.0,male
577020,854,2013-06-30 22:38:24,2013-06-30 22:52:38,309.0,Murray St & West St,40.714977,-74.013016,NaN,NaN,NaN,NaN,18804,Customer,NaN,NaN
577024,6304,2013-06-30 22:38:42,2013-07-01 00:23:46,426.0,West St & Chambers St,40.717548,-74.013222,NaN,NaN,NaN,NaN,17068,Customer,NaN,NaN
577027,1438,2013-06-30 22:38:38,2013-06-30 23:02:36,439.0,E 4 St & 2 Ave,40.726280,-73.989777,NaN,NaN,NaN,NaN,18144,Subscriber,1983.0,male
577036,826,2013-06-30 22:40:11,2013-06-30 22:53:57,528.0,2 Ave & E 31 St,40.742908,-73.977058,NaN,NaN,NaN,NaN,18044,Customer,NaN,NaN
577057,426,2013-06-30 22:41:30,2013-06-30 22:48:36,345.0,W 13 St & 6 Ave,40.736492,-73.997047,NaN,NaN,NaN,NaN,15507,Subscriber,1956.0,male
577109,1389,2013-06-30 22:46:15,2013-06-30 23:09:24,327.0,Vesey Pl & River Terrace,40.715340,-74.016586,NaN,NaN,NaN,NaN,16825,Subscriber,1961.0,male
577159,742,2013-06-30 22:51:30,2013-06-30 23:03:52,545.0,E 23 St & 1 Ave,40.736504,-73.978096,NaN,NaN,NaN,NaN,16347,Subscriber,1987.0,male
577164,1562,2013-06-30 22:51:48,2013-06-30 23:17:50,491.0,E 24 St & Park Ave S,40.740963,-73.986023,NaN,NaN,NaN,NaN,18016,Subscriber,1981.0,female
577261,860,2013-06-30 22:58:58,2013-06-30 23:13:18,434.0,9 Ave & W 18 St,40.743176,-74.003662,NaN,NaN,NaN,NaN,19438,Customer,NaN,NaN
577317,438,2013-06-30 23:04:49,2013-06-30 23:12:07,369.0,Washington Pl & 6 Ave,40.732243,-74.000267,NaN,NaN,NaN,NaN,16842,Subscriber,1982.0,female
577319,419,2013-06-30 23:04:39,2013-06-30 23:11:38,2022.0,E 60 St & York Ave,40.759106,-73.959221,NaN,NaN,NaN,NaN,20130,Subscriber,1982.0,male
577323,436,2013-06-30 23:04:49,2013-06-30 23:12:05,369.0,Washington Pl & 6 Ave,40.732243,-74.000267,NaN,NaN,NaN,NaN,17006,Subscriber,1983.0,male
577366,153,2013-06-30 23:10:53,2013-06-30 23:13:26,301.0,E 2 St & Avenue B,40.722176,-73.983688,NaN,NaN,NaN,NaN,16738,Subscriber,1984.0,male
577389,1140,2013-06-30 23:13:06,2013-06-30 23:32:06,146.0,Hudson St & Reade St,40.716251,-74.009109,NaN,NaN,NaN,NaN,15953,Subscriber,1972.0,male
577408,1008,2013-06-30 23:16:09,2013-06-30 23:32:57,540.0,Lexington Ave & E 29 St,40.743114,-73.982155,NaN,NaN,NaN,NaN,15435,Subscriber,1980.0,male
577469,354,2013-06-30 23:24:07,2013-06-30 23:30:01,377.0,6 Ave & Canal St,40.722439,-74.005661,NaN,NaN,NaN,NaN,15826,Subscriber,1983.0,female
577510,272,2013-06-30 23:29:07,2013-06-30 23:33:39,311.0,Norfolk St & Broome St,40.717228,-73.988022,NaN,NaN,NaN,NaN,19820,Subscriber,1982.0,male
577513,479,2013-06-30 23:29:37,2013-06-30 23:37:36,127.0,Barrow St & Hudson St,40.731724,-74.006744,NaN,NaN,NaN,NaN,15016,Subscriber,1978.0,female
577550,1078,2013-06-30 23:33:48,2013-06-30 23:51:46,385.0,E 55 St & 2 Ave,40.757973,-73.966034,NaN,NaN,NaN,NaN,17262,Customer,NaN,NaN
577559,357,2013-06-30 23:34:43,2013-06-30 23:40:40,174.0,E 25 St & 1 Ave,40.738178,-73.977386,NaN,NaN,NaN,NaN,19258,Subscriber,1986.0,male
577598,702,2013-06-30 23:41:28,2013-06-30 23:53:10,237.0,E 11 St & 2 Ave,40.730473,-73.986725,NaN,NaN,NaN,NaN,17208,Customer,NaN,NaN
577622,472,2013-06-30 23:44:15,2013-06-30 23:52:07,439.0,E 4 St & 2 Ave,40.726280,-73.989777,NaN,NaN,NaN,NaN,17565,Subscriber,1963.0,male
577635,1263,2013-06-30 23:47:47,2013-07-01 00:08:50,472.0,E 32 St & Park Ave,40.745712,-73.981949,NaN,NaN,NaN,NaN,16576,Subscriber,1956.0,male
577642,1108,2013-06-30 23:50:04,2013-07-01 00:08:32,311.0,Norfolk St & Broome St,40.717228,-73.988022,NaN,NaN,NaN,NaN,16694,Customer,NaN,NaN